/* Estilos para pantallas grandes (Desktop) */
@media only screen and (min-width: 1024px) {
    .responsive-text {
      font-size: 1.5rem;
    }
  }
  
  /* Estilos para tabletas */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .responsive-text {
      font-size: 1.2rem;
    }
  }
  
  /* Estilos para móviles (menos de 768px) */
@media (max-width: 767px) {
    body {
      font-size: 14px; /* Ajusta el tamaño de la fuente para dispositivos más pequeños */
    }
  
    .flex {
      flex-direction: column; /* Cambia la dirección del flex a columna para móviles */
    }
  
    .bg-purple-500 {
      width: 100%; /* Hace que el cuadro morado ocupe el ancho completo en móviles */
    }
}    